img{
    padding:10px;
    margin: 10px;
    width: 200px;
    height: 200px;
}
td{
    padding:40px;
    margin: 10px;

}
h1{
    color: whitesmoke;
    background-color: rgb(117, 117, 117);
    text-align: center;
    padding: 30px;
    font-family: helvetica;
}